@font-face {
    font-family: "abel";
    src: url("fonts/Abel/Abel-Regular.ttf") format("truetype")
}
@font-face {
    font-family: "anton";
    src: url("fonts/Anton/Anton-Regular.ttf") format("truetype")
}

.page-wrapper {
    background-color: #E6E6E6;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: bolder;
}


h1, h2 {
    font-family: anton, sans-serif;
}

h2 {
    font-size: large;
    font-weight: bolder;
    margin: 0 10px
}

article img {
    margin-bottom: 20px;
}