body {
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 3px solid black;
    background-color: beige;
    padding: 20px;
    box-sizing: border-box;
}