:root {
    --primary: #800080;
    --border-radius: 10px;
}

h1, h2, h3, {
    font-family: sans-serif;
}

h2 {
    text-transform: uppercase;
}

.fancy-header {
    color: var(--primary);
    text-align: center;
    font-style: italic;
}

h2.fancy-header {
    text-transform: lowercase;
}

#hero {
    background-color: bisque;
}

.section-border {
    background-color: unset;
    border-bottom: 1px solid #000;
}


section {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
}

.all-caps, .italic {
    font-width: 800;
}

h2.all-caps {
    text-transform: uppercase;
    color: chartreuse;
}

.italic {
    font-style: italic;
    color: red;
}
/*  the purpose of the id is to make easy to tag classes
    although it can only be used once on the page.
    #eee(white) #000(black)
 */

section h2.all-caps.italic {

}

.class-name {

}

#id-name {

}

